<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenu.pvcstumansys.db.mapper.UInfoMapper">
  <resultMap id="BaseResultMap" type="com.chenu.pvcstumansys.db.bean.UInfo">
    <constructor>
      <idArg column="p_ufid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="f_school" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="position" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    p_ufid, f_school, position, phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uinfo
    where p_ufid = #{pUfid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uinfo
    where p_ufid = #{pUfid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="p_ufid" keyProperty="pUfid" parameterType="com.chenu.pvcstumansys.db.bean.UInfo" useGeneratedKeys="true">
    insert into uinfo (f_school, position, phone
      )
    values (#{fSchool,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="p_ufid" keyProperty="pUfid" parameterType="com.chenu.pvcstumansys.db.bean.UInfo" useGeneratedKeys="true">
    insert into uinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fSchool != null">
        f_school,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fSchool != null">
        #{fSchool,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenu.pvcstumansys.db.bean.UInfo">
    update uinfo
    <set>
      <if test="fSchool != null">
        f_school = #{fSchool,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
    </set>
    where p_ufid = #{pUfid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenu.pvcstumansys.db.bean.UInfo">
    update uinfo
    set f_school = #{fSchool,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR}
    where p_ufid = #{pUfid,jdbcType=INTEGER}
  </update>

  <!-- 查询所有 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from uinfo
  </select>

  <!-- 查询数据库中最新用户信息的Id -->
  <select id="selectNewId" resultType="java.lang.Integer">
    select
    max(p_ufid)
    from uinfo
  </select>

</mapper>